@import './_var.scss';
@import '../css/base.css';
@import './icon.scss';
@import './mixin.scss';

// 基础
.height-100 {
  height: 100%;
}
.container {
  position: relative;
  overflow: auto;
  height: 100%;
  background: #f2f2f2;
}
.title {
  padding: .16rem 0;
  font: {
    weight: bold;
    size: .32rem;
  }
}
.section {
  background: #fff;
  margin: 0 .24rem .24rem;
  border-radius: .06rem;
  padding: 0 .24rem .16rem;
  &-title {
    line-height: .88rem;
    border-bottom: .01rem dotted #e3e3e3;
    font-weight: bold;
    font-size: 32px;
  }
  &-content {
    p {
      line-height: .88rem;
      text-align: center;
     }
    &-item {
      margin-bottom: .32rem;
    }
    ul {
      padding-left: .16rem;
      li {
        line-height: .6rem;
      }
    }
  }
}
/** 功能型 */
.row-ellipsis {
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.rows-ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.menu-list {
  .menu-cell {
    border-bottom: .01rem solid #d3d3d3;
  }
}
// 单元格
.menu-cell {
  height: .88rem;
  background: #fff;
  padding: 0 .32rem;
  font-size: .28rem;
  &-icon {
    margin-right: .16rem;
  }
}

// 定位
.fixed {
  position: fixed;
  left: 0;
  right: 0;
}
.pos {
  &-center {
    position: absolute;
    z-index: 9999;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 70%;
    background: #fff;
    border-radius: .1rem;
  }
}
// 遮罩
.mask {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .6);
  &-0 {
    background: rgba(0, 0, 0, 0);
  }
}

// 背景色
.bg-theme {
  background: $color;
}

// 字体
.ft {
  &-white {
    color: #fff;
  }
}

// 加粗字体
.ft-b {
  font-size: .5rem;
  font-weight: bold;
}

// 说明性文字
.ft-desc {
  color: #79797b;
  font-size: .24rem;
}

/**
  边距
**/
$marginList:
  16,
  24,
  32
;
$posList: 't', 'r', 'b', 'l';

@each $pos in $posList {
  @each $margin in $marginList {
    .mr {
      &-#{$pos}-#{$margin} {
        @if $pos == 't' {
          @include margin('top', $margin);
        } @else if $pos == r {
          @include margin('right', $margin);
        } @else if $pos == b {
          @include margin('bottom', $margin);
        } @else {
          @include margin('left', $margin);
        }
      }
    }
  }
}
@each $pos in $posList {
  @each $margin in $marginList {
    .pd {
      &-#{$pos}-#{$margin} {
        @if $pos == 't' {
          @include padding('top', $margin);
        } @else if $pos == r {
          @include padding('right', $margin);
        } @else if $pos == b {
          @include padding('bottom', $margin);
        } @else {
          @include padding('left', $margin);
        }
      }
    }
  }
}
