/*主题*/
@charset "utf-8";

$background: #f2f2f2;
$font-size: .24rem;

/*宽度*/
$width: 7rem;
$item-width: 7.1rem;
$label-width: 6.78rem;
$label-height: .88rem;



/*图标*/
$icon-width: .36rem;
$icon-size1: .5rem;

/*边距*/
$gird: .08rem;

/* 边框  */
$border-color: #ededed;

//z-index
$zindex1: 9999;
$zindex2: 999;
$zindex3: 99;
$zindex4: 9;
